<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A customizable stock market toolbox" />
  <meta name="keywords" content="stocks stock market" />
  <meta name="author" content="Jason Goossens" />
  <title>StockToolbox | <%= title %></title>
  <link rel="stylesheet" href="css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
</head>
