<nav>
	<div class="nav-elements">
		<h1 class="nav-link">
			<a href="/">StockToolbox</a>
		</h1>
		<div class="search-container">
			<% if (recentSymbolsArray) { %>
				<div class="recent-symbol-container">
					<% recentSymbolsArray.map(symbol => { %>
						<a href="/stock?ticker=<%=symbol%>">
							<div class="symbol">
								<%= symbol %></div>
						</a>
					<% }) %>
				</div>
			<% } %>
			<div class="search-bar">
				<form action="/stock">
					<input type="text" name="ticker" placeholder="ticker" required/>
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="theme-switcher">
		<i class="fa fa-sun-o "></i>
		<i class="fa fa-moon-o "></i>
	</div>
</nav>
