<nav>
	<h1 class="nav-link">
		<a href="/">StockToolbox</a>
	</h1>
	<div class="search-container">
		<% if (recentlyViewedSymbols) { %>
			<div class="recent-symbol-container">
				<% recentlyViewedSymbols.map(symbol => { %>
					<div class="symbol"><%= symbol %></div>
				<% }) %>
			</div>
		<% } %>
		<div class="search-bar">
			<form action="/stock">
				<input type="text" name="ticker" placeholder="ticker"/>
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
</nav>
