:root {
  --container-bg: #6382a5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background-color: #8fadce;
}

nav {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6382a5;
}

nav .nav-link {
  background-color: #6382a5;
  display: inline-block;
  font-weight: 400;
  font-size: 3rem;
}

nav .nav-link a {
  text-decoration: none;
  background-color: #6382a5;
  transition: color 150ms ease-in;
}

nav .nav-link a:hover {
  color: #3d3a43;
}

.search-bar {
  display: inline-block;
  background-color: #6382a5;
}

.search-bar form {
  background-color: #6382a5;
  display: flex;
}

.search-bar input[type='text'] {
  background-color: white;
  color: black;
  height: 3rem;
  width: 8ch;
  font-size: 2.5rem;
  padding-left: 25px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
}

.search-bar input[type='text']::placeholder {
  color: #8fadce;
}

.search-bar input[type='text']:focus {
  outline: none;
}

.search-bar button {
  height: 3rem;
  font-size: 2rem;
  padding: 0 15px 0 15px;
  background-color: #8fadce;
  text-align: center;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.search-bar button:focus {
  outline: none;
}

.not-found-title {
  margin: 20px;
}

.search-bar i {
  background-color: #8fadce;
  color: white;
}

::-webkit-scrollbar {
  width: 11px;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  background: #bed5ef;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #425f80;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #243c57;
}

.main-container {
  display: grid;
  grid-template-columns: calc(50% - calc(10px * 2)) 25% 25%;
  grid-template-rows: calc(100vh - calc(10px * 2) - 68px);
  grid-template-areas: 'news calendar market-performance';
  grid-gap: 10px;
  padding: 10px;
}

.market-info-container {
  padding: 10px;
  background-color: var(--container-bg);
  border-radius: 12px;
}

.news-container {
  grid-area: news;
  overflow-y: scroll;
}

.calendar-container {
  grid-area: calendar;
  overflow-y: scroll;
}

.market-performance-container {
  grid-area: market-performance;
}

.container-item {
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.container-item:hover {
  background-color: #425f80;
}

.container-item a {
  text-decoration: none;
}

.container-item .header {
  display: flex;
  justify-content: space-between;
}

.container-item .header h4 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.past-earnings {
  background-color: #243c57;
}
.item-content {
  display: flex;
  justify-content: space-between;
}

.item-content h2 {
  font-weight: 500;
}
.earnings-line p {
  display: flex;
  justify-content: space-between;
}

.earnings-line .title {
}

.earnings-line .number {
  width: 7ch;
  display: flex;
  justify-content: flex-end;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.chart-container .chart {
  border: 1px solid black;
}
#chart {
  margin: 15px;
  width: 35vw;
}
