:root {
  /* barebones theme */
  --barebones-theme-text-color: white;
  --barebones-theme-nav-link-hover-color: #3d3a43;
  --barebones-theme-main-bg-color: #8fadce;
  --barebones-theme-element-bg-color: rgba(99, 130, 165, 0.925);
  --element-border-radius: 0px;
  --sub-element-border-radius: 0px;
  --barebones-theme-element-emphasis-color: #243c57;
  --barebones-theme-element-border-color: white;
  --barebones-theme-element-hover-color: #425f80;
  --barebones-theme-sub-element-bg-color: #425f80;
  --barebones-theme-input-text-color: black;
  --barebones-theme-input-placeholder-color: #8fadce;
  --barebones-theme-scrollbar-track-color: rgba(99, 130, 165, 0.5);
  --barebones-theme-scrollbar-track-color: #bed5ef;
  --barebones-theme-scrollbar-thumb-color: #425f80;
  --barebones-theme-scrollbar-thumb-hover-color: #243c57;
  --barebones-theme-container-item-margin: 0px;
  --barebones-theme-container-item-border-top: none;
  --barebones-theme-container-item-border-right: none;
  --barebones-theme-container-item-border-bottom: 1px solid
    var(--barebones-theme-element-border-color);
  --barebones-theme-container-item-border-left: none;
  --error-element-bg-color: rgb(255, 70, 70);
  /* colorful theme */
  --colorful-theme-text-color: white;
  --colorful-theme-nav-link-hover-color: #3d3a43;
  --colorful-theme-main-bg-color: #8fadce;
  --colorful-theme-container-bg-color: #6382a5;
  --colorful-theme-element-bg-color: #6382a5;
  --colorful-theme-element-emphasis-color: #243c57;
  --colorful-theme-element-border-color: white;
  --colorful-theme-element-hover-color: #425f80;
  --colorful-theme-sub-element-bg-color: #425f80;
  --colorful-theme-input-text-color: black;
  --colorful-theme-input-placeholder-color: #8fadce;
  --colorful-theme-scrollbar-track-color: #bed5ef;
  --colorful-theme-scrollbar-thumb-color: #425f80;
  --colorful-theme-scrollbar-thumb-hover-color: #243c57;
  --colorful-theme-container-item-margin: 15px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--barebones-theme-text-color);
}

body {
  background-image: url('/images/wallstreet.jpg');
  background-color: var(--barebones-theme-main-bg-color);
}

nav {
  padding: 5px 0 5px 15px;
  display: flex;
  align-items: center;
  background-color: var(--barebones-theme-element-bg-color);
}

.nav-elements {
  display: inline-flex;
  justify-content: space-between;
  width: 96%;
}

nav .nav-link a {
  display: inline-block;
  font-weight: 400;
  font-size: 3rem;
  text-decoration: none;
  transition: color 150ms ease-in;
}

nav .nav-link a:hover {
  color: var(--barebones-theme-nav-link-hover-color);
}

.search-container {
  display: flex;
  align-items: center;
}

.recent-symbol-container {
  display: flex;
  margin-right: 5px;
}

.recent-symbol-container .symbol {
  font-size: 1.2rem;
  background-color: var(--barebones-theme-sub-element-bg-color);
  margin: 0 3px;
  padding: 8px 15px;
  border-radius: 20px;
}

.recent-symbol-container a {
  text-decoration: none;
}

.search-bar {
  display: inline-block;
}

.search-bar form {
  display: flex;
}

.search-bar input[type='text'] {
  color: var(--barebones-theme-input-text-color);
  height: 3rem;
  width: 8ch;
  font-size: 2.5rem;
  padding-left: 25px;
  border-radius: 25px 0 0 25px;
  border: none;
  outline: none;
}

.search-bar input[type='text']::placeholder {
  color: var(--barebones-theme-input-placeholder-color);
}

.search-bar input[type='text']:focus {
  outline: none;
}

.search-bar button {
  height: 3rem;
  font-size: 2rem;
  padding: 0 15px 0 15px;
  background-color: var(--barebones-theme-input-placeholder-color);
  text-align: center;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.search-bar button:focus {
  outline: none;
}

.not-found-title {
  margin: 20px;
}

.search-bar i {
  color: var(--barebones-theme-text-color);
}

.theme-switcher {
  display: inline-flex;
  margin-left: 10px;
  font-size: 2rem;
}

.theme-switcher i {
  margin: 0 10px;
  cursor: pointer;
}

.theme-switcher i:hover {
  color: var(--barebones-theme-nav-link-hover-color);
}

::-webkit-scrollbar {
  width: 11px;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  background: var(--barebones-theme-scrollbar-track-color);
  border-top-right-radius: var(--element-border-radius);
  border-bottom-right-radius: var(--element-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--barebones-theme-scrollbar-thumb-color);
  border-top-right-radius: var(--element-border-radius);
  border-bottom-right-radius: var(--element-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--barebones-theme-scrollbar-thumb-hover-color);
}

.main-container {
  display: grid;
  grid-template-columns: calc(50% - calc(10px * 2)) 25% 25%;
  grid-template-rows: calc(100vh - calc(10px * 2) - 68px);
  grid-template-areas: 'news calendar market-performance';
  grid-gap: 10px;
  padding: 10px;
}

.market-info-container {
  padding: 10px;
  background-color: var(--barebones-theme-element-bg-color);
  border-radius: var(--element-border-radius);
}

.market-info-container h1 {
  font-weight: 100;
  text-decoration: underline;
}

.news-container {
  grid-area: news;
  overflow-y: scroll;
}

.calendar-container {
  grid-area: calendar;
  overflow-y: scroll;
}

.market-performance-container {
  grid-area: market-performance;
}

.api-error {
  margin-top: 15px;
  padding: 15px;
  border-radius: var(--sub-element-border-radius);
  background-color: var(--error-element-bg-color);
}

.api-error h3:first-child,
.api-error p {
  margin-bottom: 15px;
}

.api-error h3 {
  font-size: 1.25rem;
  font-weight: 100;
}

.container-item {
  margin: var(--barebones-theme-container-item-margin);
  border-top: var(--barebones-theme-container-item-border-top);
  border-right: var(--barebones-theme-container-item-border-right);
  border-bottom: var(--barebones-theme-container-item-border-bottom);
  border-left: var(--barebones-theme-container-item-border-left);
  border-radius: var(--sub-element-border-radius);
  padding: 15px 5px;
}

.container-item:hover {
  background-color: var(--barebones-theme-element-hover-color);
}

.container-item a {
  text-decoration: none;
}

.container-item .header {
  display: flex;
  justify-content: space-between;
}

.container-item .header h3 {
  font-weight: 100;
}

.container-item .header h4 {
  font-weight: 100;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.container-item .header h4:first-child {
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.past-earnings {
  background-color: var(--barebones-theme-element-emphasis-color);
}
.item-content {
  display: flex;
  justify-content: space-between;
}

.item-content h2 {
  font-weight: 500;
}
.earnings-line p {
  display: flex;
  justify-content: space-between;
}

.earnings-line .number {
  width: 7ch;
  display: flex;
  justify-content: flex-end;
}

.chart-container {
  height: 97%;
}

.chart-container .chart {
  margin-bottom: 8px;
  height: calc(calc(100% - 38px) / 3);
  border-radius: var(--sub-element-border-radius);
}

#chart {
  margin: 15px;
  width: 35vw;
}

/* mobile styling */
@media only screen and (min-width: 600px) {
}
